

.pagination{
    margin-top: 20px;
}
.pagination button  {
    padding: 10px 20px;

    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.paginationDark button {
    background-color: black;
    border: 1px solid #ccc;
    color: white;
}

.paginationDark button:hover {
    background-color: #ffffff;
    color: #000000;
}

.paginationDark button.currentPage {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #455767;
}


.paginationLight button {
    background-color: #ffffff;
    border: 1px solid #070606;
    color: #000000;
}



.paginationLight button:hover {
    background-color: #000000;
    color: #ffffff;
}

.paginationLight button.currentPage {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #455767;
}

.pagination button.prevPage {
    margin-right: 10px;
}


.pagination button.nextPage {
    margin-left: 10px;
}


