
.userInfoContainerLight {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-size: 20px;
}

.userInfoContainerDark {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    font-size: 20px;

}

.userInfoTitle{
    font-size: 30px;
    text-align: center;

}
.userInfoCard {
    width: 1000px;
    height: 500px;

}

.userImage {
    margin-top: 20px;
    height: 200px;
    width: 200px;

}

.userInfoContent {
    display: flex;
    padding: 20px;
}


.buttonInfoApp {
    text-align: center;
    margin-top: 20px;
}

#info-container {
    margin-bottom: 20px;
}

.userButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.userButton:hover {
    background-color: #0056b3;
}

.userInfo {
    margin-left: 20px;
}
