.GenresListName{
    margin-top: 10px;
    border-radius: 30px;
    padding: 5px 10px ;
    margin-bottom: 5px;
    margin-right: 20px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.GenresListNameDark{
    color: white;
    border: 1px solid #ffffff;

}

.GenresListNameDark:hover{
    background-color: #ffffff;
    color: #000000;
}

.GenresListNameLight{

    color: #000000;
    border: 1px solid #000000;

}

.GenresListNameLight:hover{
    background-color: #000000;
    color: #ffffff;
}
