.GenreBadgeWrapperDark{
    display: flex;
    color: white;
    flex-wrap: wrap; /* Разрешает перенос элементов на новую строку */


}

.GenreBadgeNameDark {
    margin-top: 3px;
    border: 1px solid #ffffff; /* Граница для изображения */
    padding: 5px 7px ;
    border-radius: 20px;
    margin-right: 4px;

}


.GenreBadgeWrapperLight{
    display: flex;
    color: #000000;
    flex-wrap: wrap; /* Разрешает перенос элементов на новую строку */



}

.GenreBadgeNameLight {
    margin-top: 3px;
    border: 1px solid #000000; /* Граница для изображения */
    padding: 5px 7px ;
    border-radius: 20px;
    margin-right: 4px;
}
