.movieInfoWrapper{

    margin-left: 10%;
    margin-right: 10%;
    height: 850px;
    max-height: 850px;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.movieInfoWrapperDark {
    color: white;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;

}

.movieInfoWrapperLight {
    color: #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.movieInfoBox3{

    padding-left: 50px;
    font-size: 20px;
}


.movieTitle{
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;


}

.movieInfoGenres{
    display: flex;
}

.movieOneGenre{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;


}

.movieInfoOverview{
    font-size: 20px;
}

.titleWrapper{
    display: flex;
}
.ratingWrapper{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
.movieInfoBox1{
    display: flex;
}

.imageBox2{
    margin-top:60px;
    height: 600px;

}
.imageBox2Light{
    border: 2px solid #000000;

}

.imageBox2Dark{
    border: 2px solid #ffffff;

}

.movieInfoVideo{
    padding-top: 3%;

}
