/* Стили для общего контейнера заголовка */
.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    transition: background-color 0.15s, color 0.15s;
    z-index: 100;

}

/* Стили для светлой темы */
.headerWrapperLight {
    background-color: white;
    color: black;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Стили для темной темы */
.headerWrapperDark {
    background-color: black;
    color: white;
    box-shadow: 0px 3px 10px rgba(246, 246, 246, 0.3);
}

.logoLink {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.logoLinkLight {
    color: black;
}

.logoLinkDark {
    color: white;
}

.lightModeButton {
    margin-left: 30px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

.lightModeButtonLight {
    border: 1px black solid;
}

.lightModeButtonDark {
    border: 1px white solid;
}

.moviesList {
    font-size: 20px;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;

}

.headerImg {
    margin-left: 800px;
}

.userImage {

    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dark .AppMain {
    background-color: white;
}
