
.movieListCardWrapper{
    display: inline-block;
    width: calc(300px);
    height: 620px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
    background-color: #333333;
    border-radius: 10px;
    transition: box-shadow 0.1s ease-in-out;
}
.movieListCardWrapperDark {
    border: 1px solid #ddd;
    color: white;
    transform: translateY(0);
    transition: transform 0.2s ease, box-shadow 0.1s ease-in-out;
}

.movieListCardWrapperLight {
    border: 1px solid #000000;
    background-color: #f1f1f1;
    color: #000000;

}

.movieListCardWrapperDark:hover  {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 0 10px 3px white;
}

.movieListCardWrapperLight {
    transform: translateY(0);
    transition: transform 0.2s ease, box-shadow 0.1s ease-in-out;
}

.movieListCardWrapperLight:hover  {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 0 10px 3px white;
}

.movieListCardGenres{
    display: flex;
}

.movieListTitle{
    font-size: 25px;
}
.movieCardDark{
    text-decoration: none;
    color: white;
}

.movieCardLight{
    text-decoration: none;
    color: #000000;
}

.movieListCardWrapperDark:hover  {
    box-shadow: 0 0 10px 3px white;
}

.movieListCardWrapperLight:hover  {
    box-shadow: 0 0 10px 3px #000000;
}

.movieListCardTop{
    height: 80%;
}
.movieCardStar{
    display: flex;
}
.voteNumb{
    margin-top: 5px ;

}

.movieCardImg {
    width: 100%;
    height: 350px;
    display: block;
    margin: 0 auto;
    border: 1px solid #090808;
}


