

.movieListCardWrapperDark {
    display: inline-block;
    width: calc(25% - 25px); /* 20% ширины родительского контейнера минус отступы */
    height: 620px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ddd;
    text-decoration: none;
    box-sizing: border-box; /* Учитываем границу и padding в расчетах ширины */
    overflow: hidden; /* Скрываем избыточный текст */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-color: #333333;
    border-radius: 10px;
    color: white;
    transition: box-shadow 0.1s ease-in-out;
}

.movieListCardWrapperLight {
    display: inline-block;
    width: calc(25% - 25px); /* 20% ширины родительского контейнера минус отступы */
    height: 620px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
    text-decoration: none;
    box-sizing: border-box; /* Учитываем границу и padding в расчетах ширины */
    overflow: hidden; /* Скрываем избыточный текст */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #000000;
    transition: box-shadow 0.1s ease-in-out;

}

.movieListCardWrapperDark {
    /* ... Ваши текущие стили ... */
    transform: translateY(0); /* Начальное положение без поднятия */
    transition: transform 0.2s ease, box-shadow 0.1s ease-in-out;
}

.movieListCardWrapperDark:hover  {
    transform: translateY(-10px) scale(1.02); /* Поднимаем и увеличиваем при наведении */
    box-shadow: 0 0 10px 3px white;
}

.movieListCardWrapperLight {
    /* ... Ваши текущие стили ... */
    transform: translateY(0); /* Начальное положение без поднятия */
    transition: transform 0.2s ease, box-shadow 0.1s ease-in-out;
}

.movieListCardWrapperLight:hover  {
    transform: translateY(-10px) scale(1.02); /* Поднимаем и увеличиваем при наведении */
    box-shadow: 0 0 10px 3px white;
}

.movieListCardGenres{
    display: flex;
}

.movieListTitle{
    font-size: 25px;
}
.movieCardDark{
    text-decoration: none;
    color: white;
}

.movieCardLight{
    text-decoration: none;
    color: #000000;
}

.movieListCardWrapperDark:hover  {
    box-shadow: 0 0 10px 3px white; /* Создание свечения (белая тень) при наведении */
}

.movieListCardWrapperLight:hover  {
    box-shadow: 0 0 10px 3px #000000; /* Создание свечения (белая тень) при наведении */
}

.movieListCardTop{
    height: 80%;
}
.movieCardStar{
    display: flex;
}
.voteNumb{
    margin-top: 5px ;

}

/* Стили для изображения внутри movieCard */
.movieCardImg {

    width: 100%;
    height: 350px; /* Высота изображения внутри карточки */
    display: block;
    margin: 0 auto; /* Центрирование изображения */
    border: 1px solid #090808; /* Граница для изображения */
}


